.B-ORGANIZACAO, .I-ORGANIZACAO, .B-ORG, .I-ORG{
    background-color: red;
}

.B-PESSOA, .I-PESSOA, .B-PER, .I-PER{
    background-color: lightblue;
}

.B-TEMPO, .I-TEMPO, .B-MISC, .I-MISC{
    background-color: green;
}

.B-LOCAL, .I-LOCAL, .B-LOC, .I-LOC{
    background-color: rgb(225, 225, 24);
}

.B-LEGISLACAO, .I-LEGISLACAO{
    background-color: orange
}

.B-JURISPRUDENCIA, .I-JURISPRUDENCIA{
    background-color: violet
}


